<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>FORM</h1>
<form th:action="${pessoaFisica.id == null} ? @{/pessoa/fisica/save} : @{/pessoa/fisica/update}" th:object="${pessoaFisica}"
      method="post">
    <input type="hidden" th:field="*{id}">
    <label for="tipo">Tipo:</label>
    <select id="tipo" name="tipo">
        <option value="F">Pessoa Física</option>
    </select>
    <br>
    <input type="text" th:field="*{nome}"  placeholder="Nome">
    <input type="text"  th:field="*{cpf}" placeholder="CPF">
    <input type="submit" value="Enviar">
</form>

</body>
</html>
