<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Incluindo o fragmento de layout -->
<div th:replace="fragments/layout :: layout(~{::head}, ~{::main})">
    <!-- Definindo os fragmentos head e main -->
    <div th:fragment="head">
        <!-- Conteúdo do head -->
    </div>
    <div th:fragment="main">
        <!-- Conteúdo principal da página -->
        <h4 th:text="${msg}"></h4>

        <table class="table" border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th colspan="2">Ações</th>
            </tr>
            </thead>
            <tr th:each="p : ${pessoas}">
                <td th:text="${p.id}"> </td>
                <td th:text="${p.nome}"> </td>
                <td th:text="${p.cpf}"> </td>
                <td> <a th:href="@{/pessoa/fisica/edit/{id}(id=${p.id})}">Editar</a> </td>
                <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/pessoa/fisica/remove/{id}(id=${p.id})}">Excluir</a> </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
