<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}"
      xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Nova Venda</title>
</head>
<body>
<main class="container">
    <h3 class="mt-3">Nova venda</h3>
    <table class="table" border="1">
        <thead style="background-color: #f5f5dc;">
        <tr>
            <th>Descrição do Item</th>
            <th>Valor Unitário do Item</th>
            <th>Quantidade</th>
            <th>Valor Total do Item</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item,i : ${session.venda.itensVenda}">
            <td th:text="${item.produto.descricao}"></td>
            <td th:text="${#numbers.formatCurrency(item.produto.valor)}"></td>
            <td th:text="${#numbers.formatDecimal(item.quantidade, 1, 2)}"></td>
            <td th:text="${#numbers.formatCurrency(item.totalItemVenda())}"></td>
            <td> <a class="btn btn-danger" onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                    th:href="@{/venda/removeItem/{index}(index=${i.index})}" role="button">Excluir</a> </td>
        </tr>
        </tbody>
    </table>
    <h4 style="text-align: right; font-weight: bold; background-color: lightgrey;">Valor total da compra:
        <span th:text="${#numbers.formatCurrency(session.venda.totalVenda())}"></span></h4>
    <div class="d-flex justify-content-end bg-light p-3">
        <form th:action="@{/produto/list-vitrine}" method="get" class="mr-1">
            <input class="btn btn-secondary m-2" type="submit" value="Continuar Compra">
        </form>
        <form th:action="@{/venda/save}" method="get">
            <input class="btn btn-secondary m-2" type="submit" value="Finalizar Compra">
        </form>
    </div>


    <!--        <form class="container" th:action="@{/produto/list-vitrine}" method="get">-->
    <!--            <br>-->
    <!--            <div class="d-flex justify-content-end">-->
    <!--                <input class="btn btn-primary" type="submit" value="Continuar Compra">-->
    <!--            </div>-->
    <!--        </form>-->
    <!--        <form class="container" th:action="@{/venda/save}" method="get">-->
    <!--            <br>-->
    <!--            <div class="d-flex justify-content-end">-->
    <!--                <input class="btn btn-primary" type="submit" value="Finalizar Compra">-->
    <!--            </div>-->
    <!--        </form>-->
</main>
</body>
</html>